.highlight code .line_numbers { background-color: #49483e !important;}
.highlight code { background-color: #49483e !important;}
.highlight code .hll { background-color: #49483e !important;}
.highlight code .c { color: #75715e !important;} /* Comment */
.highlight code .err { color: #960050; background-color: #1e0010 !important;} /* Error */
.highlight code .k { color: #66d9ef !important;} /* Keyword */
.highlight code .l { color: #ae81ff !important;} /* Literal */
.highlight code .n { color: #f8f8f2 !important;} /* Name */
.highlight code .o { color: #f92672 !important;} /* Operator */
.highlight code .p { color: #f8f8f2 !important;} /* Punctuation */
.highlight code .cm { color: #75715e !important;} /* Comment.Multiline */
.highlight code .cp { color: #75715e !important;} /* Comment.Preproc */
.highlight code .c1 { color: #75715e !important;} /* Comment.Single */
.highlight code .cs { color: #75715e !important;} /* Comment.Special */
.highlight code .gd { color: #f92672 !important;} /* Generic.Deleted */
.highlight code .ge { font-style: italic !important;} /* Generic.Emph */
.highlight code .gi { color: #a6e22e !important;} /* Generic.Inserted */
.highlight code .gs { font-weight: bold !important;} /* Generic.Strong */
.highlight code .gu { color: #75715e !important;} /* Generic.Subheading */
.highlight code .kc { color: #66d9ef !important;} /* Keyword.Constant */
.highlight code .kd { color: #66d9ef !important;} /* Keyword.Declaration */
.highlight code .kn { color: #f92672 !important;} /* Keyword.Namespace */
.highlight code .kp { color: #66d9ef !important;} /* Keyword.Pseudo */
.highlight code .kr { color: #66d9ef !important;} /* Keyword.Reserved */
.highlight code .kt { color: #66d9ef !important;} /* Keyword.Type */
.highlight code .ld { color: #e6db74 !important;} /* Literal.Date */
.highlight code .m { color: #ae81ff !important;} /* Literal.Number */
.highlight code .s { color: #e6db74 !important;} /* Literal.String */
.highlight code .na { color: #a6e22e !important;} /* Name.Attribute */
.highlight code .nb { color: #f8f8f2 !important;} /* Name.Builtin */
.highlight code .nc { color: #a6e22e !important;} /* Name.Class */
.highlight code .no { color: #66d9ef !important;} /* Name.Constant */
.highlight code .nd { color: #a6e22e !important;} /* Name.Decorator */
.highlight code .ni { color: #f8f8f2 !important;} /* Name.Entity */
.highlight code .ne { color: #a6e22e !important;} /* Name.Exception */
.highlight code .nf { color: #a6e22e !important;} /* Name.Function */
.highlight code .nl { color: #f8f8f2 !important;} /* Name.Label */
.highlight code .nn { color: #f8f8f2 !important;} /* Name.Namespace */
.highlight code .nx { color: #a6e22e !important;} /* Name.Other */
.highlight code .py { color: #f8f8f2 !important;} /* Name.Property */
.highlight code .nt { color: #f92672 !important;} /* Name.Tag */
.highlight code .nv { color: #f8f8f2 !important;} /* Name.Variable */
.highlight code .ow { color: #f92672 !important;} /* Operator.Word */
.highlight code .w { color: #f8f8f2 !important;} /* Text.Whitespace */
.highlight code .mb { color: #ae81ff !important;} /* Literal.Number.Bin */
.highlight code .mf { color: #ae81ff !important;} /* Literal.Number.Float */
.highlight code .mh { color: #ae81ff !important;} /* Literal.Number.Hex */
.highlight code .mi { color: #ae81ff !important;} /* Literal.Number.Integer */
.highlight code .mo { color: #ae81ff !important;} /* Literal.Number.Oct */
.highlight code .sb { color: #e6db74 !important;} /* Literal.String.Backtick */
.highlight code .sc { color: #e6db74 !important;} /* Literal.String.Char */
.highlight code .sd { color: #e6db74 !important;} /* Literal.String.Doc */
.highlight code .s2 { color: #e6db74 !important;} /* Literal.String.Double */
.highlight code .se { color: #ae81ff !important;} /* Literal.String.Escape */
.highlight code .sh { color: #e6db74 !important;} /* Literal.String.Heredoc */
.highlight code .si { color: #e6db74 !important;} /* Literal.String.Interpol */
.highlight code .sx { color: #e6db74 !important;} /* Literal.String.Other */
.highlight code .sr { color: #e6db74 !important;} /* Literal.String.Regex */
.highlight code .s1 { color: #e6db74 !important;} /* Literal.String.Single */
.highlight code .ss { color: #e6db74 !important;} /* Literal.String.Symbol */
.highlight code .bp { color: #f8f8f2 !important;} /* Name.Builtin.Pseudo */
.highlight code .vc { color: #f8f8f2 !important;} /* Name.Variable.Class */
.highlight code .vg { color: #f8f8f2 !important;} /* Name.Variable.Global */
.highlight code .vi { color: #f8f8f2 !important;} /* Name.Variable.Instance */
.highlight code .il { color: #ae81ff !important;} /* Literal.Number.Integer.Long */
